<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">{{model.title}}</div>
	<div class="panel-body">
		<form>
			<div class="form-group">
				{{input type="text" class="new-list form-control" placeholder="create todo" value=title}}
				<button type="button" class="btn btn-primary pull-right" {{action "createTodo"}}>Add</button>
			</div>
		</form>
	</div>
	{{outlet}}
</div>



