<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About</h4>
      </div>
      <div class="modal-body">
        Ember advanced is my first attempt to develop with Ember. I wanted to learn the basic architecture, patterns and process used to create an ambitious web application. I’ve found Ember to be an incredible delight. My next step is to build a similar deliverable using a MEAN stack. I’ll let you know what I think when I’m done 
		<br />
		<br />
			~ Brandon Richards

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{outlet}}